
.main{
    display: flex;
    flex-direction: column;
    align-items: center;


    
}

.peso-txt {
    display: flex;
    justify-content: space-between;
}


.altura-txt {
    display: flex;
    justify-content: space-between;
}